@model IEnumerable<TrashCollector.Models.WeeklyPickup>

@{
    ViewData["Title"] = "Customer: Weekly Pickup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Weekly Pickup</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeekDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDay.Day)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WeeklyPickupId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.WeeklyPickupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Customers" asp-action="Index">Back to Customer Home</a>
</div>

