@{
    ViewData["Title"] = "Home: DCC Trash Collector";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>DCC Trash Collector, Inc. Scheduling Website.</p>
</div><br/> <br />
<center>
    <div class="container">
        <img src ="~/images/DCCTP.jpg" alt="Garbarge Truck" style="width: 50%; height: 50%"/>
    </div>
 </center>
