@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><br/>
    Protecting your private information is our priority.  This Statement of Privacy applies to 
    DCC Trash Collector, Inc and governs data collection and usage. For purposes of this Privacy Policy,
    unless otherwise noted, all references to DCC Trash Collector, Inc include Trash Collector.  The Trash
    Collector website is an ecommerce site.  By using the Trash Collector website, you consent to the data 
    practices described in this statement.
</p><br/>
<p>
    <h3>Collection of your Personal Information</h3>
    In order to better provide you with services offered on our Site, Trash Collector may collect personally
    identifiable information , such as your:  First and Last Name, Address, Phone Number, and Email.
    <br/><br/>
    We do not collect any personal information about you unless you voluntarily provide it to us.
</p><br/>
<p>
    <h3>Use of your Personal Information</h3>
    Trash Collector collects and uses your personal information to operate its website and deliver the services
    you requested.
</p><br/>
<p>
    <h3>Sharing Information with Third Parties</h3>
    Trash Collector does not sell, rent, or lease its customer lists to third parties.
</p><br/>
<p>
    Effective as of May 20, 2020.
</p>
